#header{

    background-color: white;
    width: 100%;
    height: 77px; 
    padding: 0 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    
}

nav {
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
}


.menu-item{

    display: flex;
    flex-direction: row;
}



.topbar-item{

    display: inline-block;
    Color: black;
    font-weight: 600;
    font-size: 14px;
    padding-right: 24px;
    Cursor: pointer;
  text-decoration: none;
    

}

#logo{

    width: 40px;
    
   
}

#topbar-btn{

    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}


.dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.dropdown {
    width: 150px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 20px;
    position: absolute;
    right: 24px;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
 
}


.dropdown-wrapper:hover > .dropdown{

    display: block;
   
}

.dropdown a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.dropdown a:last-of-type {
    border: 0;
}

.dropdown a:hover{
  
  background-color: #ccc;
}

#nav-item{
    display: inline;
}

.nav-content{

   margin-left: 700px
}



body{

    margin:0;
    font-family: 'Poppins', sans-serif;
}

#head-bg-img{

    Width: 100%;
    Height:100vh;
    background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
    

    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-heading{

    width: 100%;
    max-width:  1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    padding-top: 220px;
   
    margin: 0 auto;
    
}

#title-description{

    Width: 100%;
    max-width: 1100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    Color: #8b8b99; 
    padding-top: 32px;
    margin: 0 auto;
    text-align: center;
}

.info-section-item{

 width: 25%;
    padding: 112px 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   
}
#info-section{

    display: flex;
    color: white;
}

#step-title{

    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.step-description{

    font-size: 14px;
    letter-spacing: 0.5px;
   line-height: 1.6;
}

#step-icon{
    font-size: 96px
}

footer{

    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
    display: block;

}

#store-section {
    width: 100%;
    background-color: #f7eee2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#fresh-food-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

#store-section > h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#store-desc {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}


#store-items-wrapper {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
}

.icon-wrapper {
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}

.store-item {
    width: 25%;
    text-align: center;
    padding: 24px;
}

.icon-wrapper i {
    font-size: 60px;
}

.store-item p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}

#testimonials-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#testimonials-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
   font-style: italic;
}

#testimonials-section > h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#testimonials-desc {
    max-width: 700px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

#testimonials-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    vertical-align: top;
}

.testimonial-item img {
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.testimonial-item {
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
}

.testimonial-message {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

.testimonial-item h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}

.job-role {
    color: #8b8b99;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}

#follow-section {
    display: flex;
    justify-content: stretch;
}

#left-section {
    width: 67%;
    display: inline-block;
    margin: 0;
}

#left-section img {
    width: 100%;
}

#right-section {
    width: 33.33%;
    margin: 0;
    display: inline-block;
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png);
    background-position: left;
    background-size: cover;
}

#right-section #text-wrapper {
    margin: 115px;
}

#right-section #text-wrapper h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}

#right-section #text-wrapper p {
    color: #8b8b99;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
}

#subscribe-email {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    display: block;
}   

#subscribe-btn {
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}

#subscribe-btn:hover {
    color: #f69dad;
    border: 1px solid #f69dad;
    background-color: transparent;
}


#stats-section {
    width: 100%;
    background-color: #f6fcfa;
}

#stats-wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: stretch;
}

.stats-item {
    width: 25%;
    padding: 0 64px;
}

.stats-item h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}

.stats-item p {
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

#video-section h3 {
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
}

#line-separator {
    width: 96px;
    display: inline-block;
    height: 1px;
    background-color: #e4b476;
    margin-bottom: 36px;
    text-align: center;
}

#video-section > div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#video-section iframe {
    width: 100%;
    height: 425px;
}

#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#address-wrapper > div {
    width: 50%;
}

.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat',  cursive;
    margin: 0;
    margin-top: 35px;
    font-style: italic;
    
}

.section-heading {
    font-weight: 600;
    font-size: 44px;
    margin: 0;
}   

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

#address-wrapper > div:last-of-type {
    width: 40%;
}

form {
    display: block;
    margin-top: 0em;
}

.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#btn-submit {
    font-size: 16px;
}

.primary-button {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}

@media (max-width: 900px){

    
    #topbar-btn {
        margin-right: 0;
    }

    #title-heading {
        font-size: 28px;
    }

    #title-description{
        padding: 16px;
        box-sizing: border-box;
    }

    #info-section {
        width: 100%;
        flex-direction: column;
    }

    .info-section-item{

        width: 100%;
    }

    #store-section {
        padding: 16px;
        box-sizing: border-box;
    }

    #store-items-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .store-item {
        width: 100%;
        box-sizing: border-box;
    }

    #testimonials-section {
        padding: 16px;
        box-sizing: border-box;
    }

    #testimonials-wrapper {
        flex-direction: column;
    }

    #follow-section {
        flex-direction: column;
    }

    #left-section {
        width: 100%;
    }

    #right-section {
        width: 100%;
    }

    #right-section #text-wrapper {
        margin: 16px;
    }

    #stats-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #address-wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 16px;
        padding-top: 0;
        box-sizing: border-box;
    }

    #address-wrapper > div {
        width: 100%;
    }
  
  #logo{
    
    width:30px;
    left:0;
  }
  
  .topbar-item{
    
    display: flex;
    flex-direction: row;
  }
  
  nav{
    width: 100%
  }

}
